<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/9/96/Dragon_ball.svg">
    <link rel="shortcut icon" type="image/png" href="iconito.png">
    <link rel="stylesheet" href="style/style.css">

    <title>DBFZ WIKI</title>
</head>

<body style="font-family:'Times New Roman', Times, serif"">
    
    
    <img src={{ imagen }} id="gku_ssj_imprimir" alt="ssj_dbs">
    <img src="img/DBFZ.png" id="logo_imprimir" alt="logo">
    <div id="origen_foto_imprimir"><b><i>{{ descImg }}</i></b></div>

    <h1 >{{ nombre }}</h1>
        <h2>Fecha inclusion: {{ fecha }}</h2>
            <p>
               {{ descripcion }}
            </p>
            
            <h3><u>Estilo de combate</u></h3>
            <p>
                {{ estiloCombate }}
            </p>
            
            <h3><u>Habilidades especiales</u></h3>
            <p>
                {{ habilidades }}
            </p>
            <h4> <u><i> Enlaces relacionados </i></u></h4>
            <div>
                <b>Trailer del personaje: </b><a href={{ trailerPersonaje }}>  {{ trailerPersonaje }}</a>
            </div>
            <div>
                <b>Lista de combos básicos: </b><a href= {{ listaCombos }}> {{ listaCombos }}</a> 
            </div>
            <div>
                <b></b>
            </div>
        
    <p>Comprar DragonBall FighterZ en Instant Gaming 
        <a href="https://www.instant-gaming.com/es/2141-comprar-key-steam-dragon-ball-fighterz/">https://www.instant-gaming.com/es/2141</a>
    </p>
    <p>Comprar DragonBall FighterZ en Steam:  <a href="https://store.steampowered.com/app/678950/DRAGON_BALL_FighterZ/"> https://store.steampowered.com/app/678950 </a></p>
    <p>&copy; 2020 - Agustin Merida Gutierrez</p>


</body>
</html>